@import "../style/typography.scss";

html, body, input, textarea, select, button {
  background-color: unset;
  border-color: unset;
  color: unset;
  margin: 0;
  padding: 0;
}

html, body {
  background-color: #000;
}

@media screen and (min-width: 1024px) {
  ::-webkit-scrollbar {
    width: 1px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0 #242322; 
  }
  
  ::-webkit-scrollbar-thumb {
    background: #f98900; 
  }
}

